<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>barber-app - Contatti</title>
</head>

<body>
<header>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="Logo">
        </a>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">Chi Siamo</a>
            <a href="/contact">Contatti</a>
            <div class="user-menu">
                <a class="user-icon">
                    <img src="/images/profile1.png" alt="profile">
                </a>
                <div class="dropdown-content">
                    <div th:if="${authentication != null}">
                        <a href="/profile">
                            <span th:text="${authentication.getUsername()}">Profile</span>
                        </a>
                        <a href="/logout"><span>logout</span></a>
                    </div>
                    <div th:if="${authentication == null}">
                        <a href="/register">Registrati</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="contactPage-container">
    <h1 class="contactPage-title">Contattaci</h1>
    <p class="contactPage-subtitle">Compila il modulo per inviarci un messaggio.</p>
    <form class="contactPage-form">
        <div class="contactPage-form-group">
            <label for="email">Il tuo messaggio:</label>
            <textarea id="email" name="email" placeholder="Scrivi qui il tuo messaggio..." rows="6"></textarea>
        </div>
        <button type="button" class="contactPage-btn" onclick="sendEmail()">Invia</button>
    </form>
</main>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer">
    <p>&copy; 2024 Barber App. Tutti i diritti riservati.</p>
</footer>

<script>
    function sendEmail() {
        const emailBody = document.getElementById('email').value;
        const mailtoLink = `mailto:gabrielmuscedere@gmail.com?subject=Contatto da Barber App&body=${encodeURIComponent(emailBody)}`;
        window.location.href = mailtoLink;
    }
</script>
</body>

</html>
